@import "tailwindcss";

@plugin 'tailwind-scrollbar';

@theme {
  /*Esthera Locus Font Family*/
  --font-sans: "Poppins", "sans-serif";

  /*Esthera Locus Color Palette*/
  --color-locus1a: #3C5E45;
  --color-locus1b: #5D916B;
  --color-locus1c: #92D995;
  --color-locus1d: #E7FED4;

  --color-locus2a: #2D5348;
  --color-locus2b: #426E55; 
  --color-locus2c: #94AE65; 
  --color-locus2d: #E1DD5F; 

  --color-locus3a: #003F2E; 
  --color-locus3b: #489581;
  --color-locus3c: #DBCFA7;
  --color-locus3d: #FEF7E4;
  
  --color-locus4a: #0E2F1E;
  --color-locus4b: #FEFEFE;

  /*Dropshadow*/
  --shadow-soft: 0 4px 12px 0 rgb(0 0 0 / 0.08);

  /*Round/Corner*/
  --radius-main: 25px;
}

.custom-search-cancel::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  height: 1rem; /* 16px */
  width: 1rem;  /* 16px */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='white'%3E%3Cpath d='M6.28 5.22a.75.75 0 00-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 101.06 1.06L10 11.06l3.72 3.72a.75.75 0 101.06-1.06L11.06 10l3.72-3.72a.75.75 0 00-1.06-1.06L10 8.94 6.28 5.22z' /%3E%3C/svg%3E");
  cursor: pointer;
}
